<?xml version="1.0" encoding="utf-8"?>
<manifest package="agent.sense.android.iot.carbon.wso2.org.wso2_sensebot"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wso2logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.wso2.carbon.iot.android.sensebot.RegisterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="org.wso2.carbon.iot.android.sensebot.SensebotControl">
        </activity>
    </application>

</manifest>
